#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    color: #d8d8d8;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Prompt';
    transition: 0.3s;
}
#backToTop:hover {
    transition: 0.3s;
    background-color: #d8d8d8;
    color: #000;
}