*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}
body{
    background-color: #fff;
    font-family: 'prompt';
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
p {
    font-weight: 100;
}.section-contact {
    margin-top: 10%;
}
.contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.contact .content {
    grid-column: span 6;
}
.contact .content a {
    color: #000;
}
.contact .img {
    grid-column: span 6;
}
.contact .img img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
@media only screen and (max-width: 600px) {
    .contact .content {
        grid-column: span 12;
    }
    .contact .img {
        margin-top: 10%;
        grid-column: span 12;
        width: 100%;
    }
}