footer{
    background-color: #0D1129;
    width: 100%;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    left: 0;
    bottom: 0;
    font-family: 'Prompt';
    font-weight: 100; 
}
footer .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
footer .grid .version {
    grid-column: span 6;
    color: #fff;
}
footer .grid .nav {
    grid-column: span 6;
}
footer .grid .nav ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 0px;
}
footer .grid .nav ul li{
    display: inline-block;
}
footer .grid .nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    min-width: 2rem;
    padding: 0 1rem;
    transition: 0.5s;
}
footer .grid .nav ul li a:hover{
    color: rgb(100, 100, 100);
    transition: 0.5s;
}
@media only screen and (max-width: 600px) {
    footer .grid .version {
        grid-column: span 12;
        color: #fff;
        text-align: center;
    }
    footer .grid .nav {
        grid-column: span 12;
        text-align: center;
    }
    footer .grid .nav ul {
        float: none;
    }
}