.section-footer-news {
    padding: 3% 0;
    background-color: #CFAC78;
    margin-top: 10%;
    padding: 0 1.5rem;
}
.section-footer-news .header {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
}
.section-footer-news .header .title {
    grid-column: span 6;
}
.section-footer-news .header .btn {
    grid-column: span 6;
}
.section-footer-news .header .btn button{
    float: right;
    margin-top: 20px;
    background: #000;
    cursor: pointer;
    color: #fff;
    padding: 12px 20px;
    border: 0;
    border-radius: 20px;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.section-footer-news .header .btn button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.footer-news-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-news {
    grid-column: span 3;
}
.footer-news-grid a {
    text-decoration: none;
    color: #000;
}
.footer-news img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}
@media only screen and (max-width: 600px ) {
    .section-footer-news .header .title {
        grid-column: span 12;
    }
    .section-footer-news .header .btn {
        grid-column: span 12;
    }
    .section-footer-news .header .btn button{
        float: left;
    }
    .footer-news-grid {
        margin-top: 16px;
    }
    .footer-news {
        grid-column: span 6;
    }
}