*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}

body{
    background-color: #fff;
    font-family: 'prompt';
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    font-weight: 200;
}
p {
    font-weight: 100;
}

.header {
    margin-top: 5%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}
.header .content{
    font-family: 'Prompt';
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.header p{
    margin-top: 10px;
    font-weight: 100;
}
.header{
    display: block;
}
.header .content {
    display: block;
}
.header .btn-sp {
    margin-top: 1rem;
    background-color: #d8d8d8;
    color: #000;
    cursor: pointer;
    padding: 0.5rem 1rem;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 1rem;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.btn-sp:hover{
    background: #000;
    color: #d8d8d8;
    transition: 0.5s;
}
.post-grid {
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    padding: 3rem 1.5rem;
}
.post {
    grid-column: span 3;
}
.post img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}
.post img:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.post a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.post a:hover {
    transition: 0.3s;
    transform: scale(1.05);

}
.post a h2 {
    font-size: 1.5rem;
    width: 100%;
}
.post a p {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .post {
        grid-column: span 4;
    }
}
@media only screen and (max-width: 800px) {
    .post {
        grid-column: span 6;
    }
}
@media only screen and (max-width: 600px) {
    .post {
        grid-column: span 6;
    }
}
