*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt';
}
html {
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}

body{
    background-color: #fff;
    font-family: 'prompt';
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    font-weight: 200;
}
p {
    font-weight: 100;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media only screen and (max-width: 600px) {

}
.graphic {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.img {
    grid-column: span 6;
}
.img img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;   
}
.map {
    grid-column: span 6;
}
.map iframe {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
}
.map:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
    .img {
        grid-column: span 12;
    }
    .map {
        grid-column: span 12;
    }
}
.name{
    font-family: 'Prompt';
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    display: block;
    margin-top: 50px;
}
.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.left-content {
    grid-column: span 6;
}
.right-content {
    grid-column: span 6;
}
.online-contact {
    color: #000;
}
@media only screen and (max-width: 600px) {
    .left-content {
        grid-column: span 12;
    }
    .right-content {
        grid-column: span 12;
    }
}
.minor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.sub-province {
    margin-top: 50px;
    display: inline-block;
}
.btn-sp {
    background-color: #d8d8d8;
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-right: 16px;
    margin-top: 16px;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.btn-sp:hover{
    background: #000;
    color: #d8d8d8;
    transition: 0.5s;
}
