*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}
.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {

}
.search {
    text-align: center;
    font-size: 2rem;
}
.search input {
    width: 60%;
}
.navbar ul {
    float: right;
}
.navbar ul li {
    display: inline-block;
    margin-right: 2rem;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
@media only screen and (max-width: 900px) {
    .navbar {
        padding: 1rem 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        text-align: center;
    }
    .menu ul{
        float: none;
        text-align: center;
    }
    .menu ul li {
        margin: 2rem 1rem;
    }
    .menu ul li a {
        text-align: center;
    }
}
body{
    background-color: #fff;
    font-family: 'prompt';
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
h3{
    font-size: 1.5rem;
    font-weight: 200;
}
p {
    font-weight: 100;
}

.header {
    margin-top: 5%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 1rem 1rem;
}
.header .content{
    font-family: 'Prompt';
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.header p{
    margin-top: 10px;
    font-weight: 100;
}
.header{
    display: block;
}
.header .content {
    display: block;
}
.header .btn-sp {
    margin-top: 1rem;
    background-color: #d8d8d8;
    color: #000;
    cursor: pointer;
    padding: 0.5rem 1rem;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 1rem;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.btn-sp:hover{
    background: #000;
    color: #d8d8d8;
    transition: 0.5s;
}
.post {
    max-width: 1080px;
    margin: 0 auto;
    clear: both;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 3rem 1rem;
    align-content: center;
}

.post img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}
.post img:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.post a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.post a:hover {
    transition: 0.3s;
    transform: scale(1.05);

}
.post a h2 {
    font-size: 1.5rem;
}
@media only screen and (max-width: 1000px) {
    .post {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    .post {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .post {
        grid-template-columns: 1fr 1fr;
    }
    .post img {
        width: 13rem;
        height: 13rem;
    }
}
.section-footer-news {
    padding: 3% 0;
    background-color: #CFAC78;
    margin-top: 10%;
}
.section-footer-news .header {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
}
.section-footer-news .header .title {
    grid-column: span 6;
}
.section-footer-news .header .btn {
    grid-column: span 6;
}
.section-footer-news .header .btn button{
    float: right;
    margin-top: 20px;
    background: #000;
    cursor: pointer;
    color: #fff;
    padding: 12px 20px;
    border: 0;
    border-radius: 20px;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.section-footer-news .header .btn button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.footer-news-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-news {
    grid-column: span 3;
}
.footer-news-grid a {
    text-decoration: none;
    color: #000;
}
.footer-news img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}
@media only screen and (max-width: 600px ) {
    .section-footer-news {
        padding: 0 1.5rem;
    }
    .section-footer-news .header .title {
        grid-column: span 12;
    }
    .section-footer-news .header .btn {
        grid-column: span 12;
    }
    .section-footer-news .header .btn button{
        float: left;
    }
    .footer-news-grid {
        margin-top: 16px;
    }
    .footer-news {
        grid-column: span 6;
    }
}
footer{
    background-color: #0D1129;
    width: 100%;
    font-size: 1rem;
    padding: 2rem 2rem;
    left: 0;
    bottom: 0;
    font-family: 'Prompt';
    font-weight: 100; 
}
footer .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
footer .grid .version {
    grid-column: span 6;
    color: #fff;
}
footer .grid .nav {
    grid-column: span 6;
}
footer .grid .nav ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 0px;
}
footer .grid .nav ul li{
    display: inline-block;
}
footer .grid .nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    min-width: 2rem;
    padding: 0 1rem;
    transition: 0.5s;
}
footer .grid .nav ul li a:hover{
    color: rgb(100, 100, 100);
    transition: 0.5s;
}
@media only screen and (max-width: 600px) {
    footer .grid .version {
        grid-column: span 12;
        color: #fff;
        text-align: center;
    }
    footer .grid .nav {
        grid-column: span 12;
        text-align: center;
    }
    footer .grid .nav ul {
        float: none;
    }
}
#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    color: #d8d8d8;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Prompt';
    transition: 0.3s;
}
#backToTop:hover {
    transition: 0.3s;
    background-color: #d8d8d8;
    color: #000;
}
#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    color: #d8d8d8;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Prompt';
    transition: 0.3s;
}
#backToTop:hover {
    transition: 0.3s;
    background-color: #d8d8d8;
    color: #000;
}


