*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}
/*
.navbar{
    background-color: #fff;
    color:#000;
    width: 100%;
    line-height: 5rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    top: 0;
    left: 0;
    display: inline-block;
    font-family: 'Prompt';
}
.navbar a{
    text-decoration: none;
    color: #000;
}
.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Prompt';
    color:#000;
    font-weight: bold;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: rgb(150, 150, 150);
    transition: 0.5s;
}
@media only screen and (max-width: 480px) {
    .navbar ul {
        float: left;
    }
    .navbar ul li {
        display: block;
    }
    .navbar ul li a {
        text-align: left;
    }
}*/
.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}
.logo {

}
.search {
    text-align: center;
    font-size: 2rem;
}
.search input {
    width: 60%;
}
.navbar ul {
    float: right;
}
.navbar ul li {
    display: inline-block;
    margin-right: 2rem;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
@media only screen and (max-width: 900px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        text-align: center;
    }
    .menu ul{
        float: none;
        text-align: center;
    }
    .menu ul li {
        margin: 2rem 1rem;
    }
    .menu ul li a {
        text-align: center;
    }
}
body{
    background-color: #fff;
    font-family: 'prompt';
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
p {
    font-weight: 100;
}
.intro {
    max-width: 1080px;
    margin: 2% auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 100px;
}
.intro .content{
    font-family: 'Prompt';
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.intro p{
    margin-top: 1rem;
    font-weight: 100;
}
.intro_btn{
    margin-top: 20px;
    background-color: #d8d8d8;
    color: #000;
    cursor: pointer;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.intro_btn:hover{
    background: #000;
    color: #d8d8d8;
    transition: 0.5s;
}
.intro .img {
    display: flex;
    justify-content: center;

}
.intro img{
    width: 25rem;
    border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
    .intro {
        grid-template-columns: 1fr;
    }
    .intro .img {
        visibility: hidden;
        position: absolute;
    }
}
.its_process {
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    padding: 2rem 1rem;
    width: 100%;
    
}
.its_process .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem;
    object-fit: cover;
    border-radius: 10px;
    color: white;
}
.its_process .btn{
    margin-top: 20px;
    background: #fff;
    cursor: pointer;
    color: #000;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
    font-family: 'Prompt';
    font-weight: 500;
    transition: 0.5s;
}
.its_process .btn:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}
/* Department Selector */
.dep {
    display: block;
    padding: 1rem 1rem;
    max-width: 1080px;
    margin: 0 auto;
}
.department {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
    grid-column-gap: 3rem;
}
.department a {
    margin: 30px 0;
    background-size: cover;
    height: 18rem;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.department a:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.department img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.department h1 {
    font-size: 2rem;
}
@media only screen and (max-width: 1000px) {
    .department {
        grid-template-columns: 1fr;
    }
}
.explore {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 1rem;
    display: block;
    font-family: 'Prompt';
}
.sub_province {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.sub_province a {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
.sub_province a:hover {
    transform: scale(1.15);
    transition: 0.5s;
}
.sub_province img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.3s;
}
.sub_province img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.3s;
}
.sub_province p {
    margin-left: 1rem;
    font-size: 1rem;
}
@media only screen and (max-width: 600px) {
    .sub_province {
        grid-template-columns: 1fr 1fr;
    }
}
footer{
    background-color: #fff;
    color:#000;
    width: 100%;
    line-height: 5rem;
    height: 5rem;
    font-size: 1rem;
    padding: 0 2rem;
    left: 0;
    bottom: 0;
    font-family: 'Prompt';
    font-weight: 100;
}
footer a{
    text-decoration: none;
    color: #000;
}
footer ul li{
    display: inline-block;
}
footer ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 0px;
}
footer ul li a{
    display: block;
    text-align: center;
    min-width: 2rem;
    padding-left: 1rem;
    transition: 0.5s;
}
footer ul li a:hover{
    color: rgb(100, 100, 100);
    transition: 0.5s;
}
@media only screen and (max-width: 600px) {
    footer a {
        display: block;
    }
    footer ul {
        float: left;
    }
    footer ul li a{
        text-align: left;
    }
}
#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    color: #d8d8d8;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Prompt';
    transition: 0.3s;
}
#backToTop:hover {
    transition: 0.3s;
    background-color: #d8d8d8;
    color: #000;
}
